@charset "UTF-8";

.q7_box1{
  float: left;
  margin-left: 50px;
  width: 225px;
  font-size: 16px;
  box-sizing: border-box;
}

.q7_box1:first-child{
  margin-left: 0;
}

.clearfix::after{
  content: "";
  display: block;
  clear: both;
}

.q7_inner1{
  display: table;
}

.q7_box2{
  display: table-cell;
  vertical-align: middle;
  padding-left: 50px;
  font-size: 16px;
}

.q7_box2:first-child{
  padding-left: 0;
}

.q7_box3{
  display: inline-block;
  vertical-align: middle;
  box-sizing: border-box;
  font-size: 16px;
  margin-left: 50px;
}

.q7_box3:first-child{
  margin-left: 0;
}