@charset "UTF-8";

.q4-content{
  width: 900px;
  margin: 0 auto;
  padding: 20px;
  background-color: #ecf1f2;
}

.親box{
  width: 100%;
  display: table;
  margin-top: 20px;
  text-align: center;
}

.親box:first-child{
  margin-top: 0;
}

.box{
  display: table-cell;
  padding: 20px;
}

.box1{
  width: 100px;
  background: #fdc8b8;
  }

.box2{
  width: auto;
  background: #e0abd9;
}

.box3{
  width: 100px;
  background: #b6d8ed;
}

.box4{
  width: auto;
  background: #e5d32e;
}

.box5{
  width: auto;
  background: #ec8f9a;
}

.box6{
  width: 500px;
  background: #8fdcad;
}
