@charset "UTF-8";

.q4-content{
  width: 900px;
  margin: 0 auto;
  padding: 20px;
  background-color: #ecf1f2;
}

.親box1{
  width: 100%;
  display: table;
}

.box1{
  display: table-cell;
  width: 100px;
  background: #fdc8b8;
  padding: 20px;
  text-align: center;
}

.box2{
  display: table-cell;
  width: auto;
  background: #e0abd9;
  padding: 20px;
  text-align: center;
}

.box3{
  display: table-cell;
  width: 100px;
  background: #b6d8ed;
  padding: 20px;
  text-align: center;
}

.親box2{
  width: 100%;
  display: table;
  margin-top: 20px;
}

.box4{
  display: table-cell;
  width: auto;
  background: #e5d32e;
  padding: 20px;
  text-align: center;
}

.box5{
  display: table-cell;
  width: auto;
  background: #ec8f9a;
  padding: 20px;
  text-align: center;
}

.box6{
  display: table-cell;
  width: 500px;
  background: #8fdcad;
  padding: 20px;
}
