@charset "UTF-8";

.q4-content{
  width: 900px;
  margin: 0 auto;
  padding: 20px;
  background-color: #ecf1f2;
}

.parent-box{
  width: 100%;
  display: table;
  margin-top: 20px;
  text-align: center;
}

.parent-box:first-child{
  margin-top: 0;
}

.content{
  display: table-cell;
  padding: 20px;
}

.box_pink{
  width: 100px;
  background: #fdc8b8;
  }

.box_parple{
  width: auto;
  background: #e0abd9;
}

.box_blue{
  width: 100px;
  background: #b6d8ed;
}

.box_yellow{
  width: auto;
  background: #e5d32e;
}

.box_red{
  width: auto;
  background: #ec8f9a;
}

.box_green{
  width: 500px;
  background: #8fdcad;
}
