@charset "UTF-8";

.q9_box{
  width: 500px;
  padding: 20px;
  margin: 0 auto;
  font-size: 16px;
  line-height: 16px;
  border: solid 5px #222;
  border-radius: 30px;
  position: relative;
}

.q9_box:after{
  content: "";
  width: 0;
  height: 0;
  border: 30px solid transparent;
  border-top: 30px solid #222;
  position: absolute;
  bottom: -60px;
  left: 25px;
  z-index: 1;
}

.q9_box::before{
  content: "";
  width: 0;
  height: 0;
  border: 22px solid transparent;
  border-top: 22px solid #fff;
  position: absolute;
  bottom: -44px;
  left: 33px;
  z-index: 2;
}
/* 回答はここに書いてね */

/* 回答はここに書いてね */
