@charset "UTF-8";

.q6_content{
  text-align: center;
}

.text-align{
  display: inline-block;
  background: #e6f2ff;
  padding: 10px;
  width: 90px;
}

.q6_content2{
  width: 90px;
  padding: 10px;
  text-align: center;
  background: #e6f2ff;
  margin-left: auto;
  margin-right: auto;
}

.q6--around1{
  display: table;
}

.q6--around_box{
  display: table-cell;
  vertical-align: middle;
  text-align: center;
}

.table{
  display: inline-block;
  padding: 10px;
  background: #fff;
}

.q6--around2{
  display: flex;
  justify-content: center;
  align-items: center;
}

.q6_content4{
  background: #fff;
  padding: 10px;
}

.q6_box1{
  position: relative;
}

.q6_box_content{
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
  width: 110px;
  height: 30px;
}

.q6_box2{
  position: relative;
}

.q6_box_content2{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateY(-50%) translateX(-50%);
  -webkit-transform: translateY(-50%) translateX(-50%);
}